:root {
  font-family: "Open Sans";
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --amber-primary: #ffc107;
  --transition-time: 800ms;
}

body {
  color: black;
  background-color: white;
}

/* body::-webkit-scrollbar {
  width: 0.3rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: rgb(73, 212, 251);
  background: linear-gradient(
    138deg,
    rgba(249, 105, 193, 1) 0%,
    rgba(73, 212, 251, 1) 100%
  );
} */
/* .greyscale {

} */
/* Navigation CSS starts here */
.navbar {
  width: 8rem;
  height: 100vh;
  position: fixed;
  background-color: var(--bg-primary);
  transition: var(--transition-time);
  z-index: 99;
}

.navbar-nav {
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 8rem;
  /* 
  color: linear-gradient(
    138deg,
    rgba(73, 212, 251, 1) 0%,
    rgba(143, 170, 228, 1) 50%,
    rgba(249, 105, 193, 1) 100%
  ); */
  color: #49d4fb;
  text-decoration: none;
  filter: grayscale(100%) opacity(0.5);
}

.nav-link:hover {
  transition: var(--transition-time) opacity(1);
  filter: grayscale(0%);
  background: var(--bg-secondary);
}

.link-text {
  display: none;
}

.nav-item img {
  min-width: 4rem;
  max-width: 5rem;
  margin: 0 2rem;
}

.logo img {
  min-width: 4rem;
  max-width: 5rem;
  margin: 0 2rem;
}

.navbar:hover {
  width: 25.6rem;
}

.navbar:hover .link-text {
  display: block;
  font-size: 1.7rem;
}

.logo {
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 2.4rem;
  letter-spacing: 0.5ch;
}

.logo img {
  min-width: 4rem;
  max-width: 5rem;
  transform: rotate(odeg);
  transition: transform var(--transition-time);
}

.navbar:hover .logo img {
  transform: rotate(-540deg);
}

/* Navigation CSS ends here */
/* Scroller Animation starts here */
::-webkit-scrollbar {
  width: 0;
}

.scrollPath {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
}

.progressbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0%, 100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}
#progressbar:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(10px);
}

#progressbar:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(30px);
}

/* Scroller Animation ends here */
main {
  margin-left: 8rem;
}

/* Footer */
footer {
  margin-top: auto;
  margin-left: 38rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  text-justify: distribute;
  text-align-last: left;
  flex-direction: column;
  background: var(--pagebackground);
  color: rgba(121, 104, 104, 0.5607843137);
}
footer .company {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  letter-spacing: 0.3rem;
}
footer .profile {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  letter-spacing: 0.2rem;
}
footer .profile a, footer .profile:link, footer .profile:visited {
  text-decoration: none;
  color: rgba(121, 104, 104, 0.5607843137);
}

/* Footer END */

/*# sourceMappingURL=index.css.map */
