.ticket-main-header,
.ticket-display,
.ticket-display-header,
.ticket-link-container {
  display: none;
  visibility: hidden;
  width: 0%;
}

.link--active {
  filter: grayscale(100%) opacity(1);
}

.link--active > .ticket-links {
  color: #5f5f5f;
  font-weight: 400;
  font-size: 1.6rem;
}

.new-incident-header {
  text-align: center;
  padding: 2rem;
  border: solid 0.1rem rgba(35, 35, 46, 0.4235294118);
  font-size: 2rem;
  font-weight: 600;
  color: rgba(35, 35, 46, 0.8156862745);
  height: 6rem;
  grid-column: 1/-1;
}
.new-incident-header span {
  font: inherit;
  font-size: 2rem;
  font-weight: 600;
  background: var(--primary-gradient);
  -webkit-background-clip: text;
  color: transparent;
}

.new-incident-form {
  grid-area: 1;
  width: 100%;
}

.new-incident-container {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 4rem 0.5rem;
}

/********************************
/* Requester Details FOrm */
/********************************/
.requester-form, .asset_user_form, .create_assest-form {
  grid-column: 1/2;
  list-style: none;
  padding: 5rem;
  margin: auto;
  width: 90%;
  height: 100%;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  max-width: 34vw;
  min-width: 30vw;
}

.requester-form header, .asset_user_form header, .create_assest-form header {
  font-size: 1.8rem;
  color: #45f3ff;
  text-align: center;
  padding-bottom: 3rem;
  font-weight: 600;
}

.requester-input, .requester-input-description {
  padding: 1rem 0rem;
  display: flex;
  flex-direction: column;
}

.requester-input label, .requester-input-description label {
  font-size: 1.6rem;
  color: rgba(35, 35, 46, 0.8156862745);
  font-weight: 400;
}

.requester-input input, .requester-input-description input {
  padding: 1.3rem;
  color: rgba(35, 35, 46, 0.8156862745);
  font-size: 1.6rem;
  font-weight: 600;
  font-size: 1.6rem;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 0.1rem solid var(--text-color-primary);
}

.required-field {
  color: red;
}

.requester-input input::placeholder, .requester-input-description input::placeholder {
  font-weight: 600;
  font-size: 1.4rem;
  opacity: 0.3;
  color: rgba(35, 35, 46, 0.8156862745);
}

.requester-input input:focus, .requester-input-description input:focus {
  outline: none;
  color: rgba(35, 35, 46, 0.8156862745);
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 0.1rem solid var(--text-color-seconday);
}

.requester-input input:hover, .requester-input-description input:hover {
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 0.1rem solid var(--text-color-seconday);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/*******************
* Search User Search Box
********************/
.search-box {
  padding: 1rem 0rem;
}
.search-box .magnify-btn {
  z-index: 2;
  position: absolute;
  margin-right: auto;
}
.search-box .enter-btn {
  z-index: 2;
  position: absolute;
  display: flex;
  justify-self: end;
}

/*******************
* Incident FOrm
********************/
.incident-form, .asset_incident-form {
  grid-column: 2/3;
  list-style: none;
  padding: 5rem;
  margin: auto;
  width: 90%;
  height: 100%;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  max-width: 34vw;
  min-width: 30vw;
}

.incident-form li .incident-header, .asset_incident-form li .incident-header {
  font-size: 1.8rem;
  text-align: center;
  padding-bottom: 3rem;
  font-weight: 600;
  color: var(--text-color-seconday);
}

.incident-form .incident-input, .asset_incident-form .incident-input {
  border-bottom: 0.1rem solid var(--text-color-seconday);
}

.incident-form .incident-input:focus, .asset_incident-form .incident-input:focus,
.incident-form .incident-input:hover,
.asset_incident-form .incident-input:hover {
  border-bottom: 0.1rem solid var(--text-color-primary);
}

.submit-button {
  background: var(--primary-gradient);
  transition: all 500ms;
  box-shadow: 0px 0px 0.7rem 0.1rem #b1c2c3;
  position: relative;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  border-radius: 2rem;
  width: 14rem;
  height: 3.5rem;
  justify-content: space-evenly;
  text-decoration: none;
  align-items: center;
  animation: 500ms ease-in moveUpFromBottom;
}
.submit-button:hover {
  transform: translateY(-0.5rem);
  background: var(--primary-gradient-reverse);
  box-shadow: 0px 0px 0.7rem 0.1rem #f969c1;
}
.submit-button:active {
  transform: translateY(0.1rem);
  box-shadow: 0px 0px 0.5rem 0.1rem rgba(249, 105, 194, 0.5254901961);
}
.submit-button::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  background: var(--primary-gradient);
  border-radius: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 500ms;
}
.submit-button:hover::after {
  transform: scaleX(1.5) scaleY(1.6);
  opacity: 0;
}
.submit-button span {
  padding: 0;
}

/*******************
* Description text Box. Textarea attributes are in home.scss
********************/
.incident-description {
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 4rem;
  width: 90%;
  height: 80%;
  grid-column: 1;
  padding: 3rem;
  gap: 2rem;
  max-width: 34vw;
  min-width: 30vw;
}

.incident-description-header {
  font-size: 1.8rem;
  color: #45f3ff;
  text-align: center;
  font-weight: 600;
}

.incident-description-textarea {
  border-top: 0.1rem solid var(--text-color-primary);
  border-left: 0.1rem solid var(--text-color-primary);
  border-right: 0.1rem solid var(--text-color-seconday);
  border-bottom: 0.1rem solid var(--text-color-seconday);
  font-size: 1.8rem;
  color: rgba(35, 35, 46, 0.8156862745);
  font-weight: 900;
  width: 100%;
  height: 20rem;
  padding: 2rem;
}

.incident-description-textarea:hover,
.incident-description-textarea:active,
.incident-description-textarea:focus {
  outline: none;
  border-top: 0.1rem solid var(--text-color-primary);
  border-left: 0.1rem solid var(--text-color-primary);
  border-right: 0.1rem solid var(--text-color-seconday);
  border-bottom: 0.1rem solid var(--text-color-seconday);
}

.incident-description-textarea::selection {
  background: var(--text-color-seconday);
}

/* *****************
* Detail Card
*******************/
.detail-card {
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  margin: 2rem;
  grid-column: 2;
  padding: 3rem;
  display: grid;
  grid-template-columns: 4fr 1fr 4fr;
  grid-template-rows: inherit;
}

.detail-card-colon {
  grid-column: 2;
  align-items: center;
}

.detail-card-info {
  grid-column: 3;
  padding-left: 3rem;
}

select {
  padding: 1.3rem;
  color: rgba(35, 35, 46, 0.8156862745);
  font-size: 1.6rem;
  font-weight: 600;
  font-size: 1.6rem;
  border-radius: 1rem;
  border: 0.1rem solid var(--text-color-seconday);
  background: transparent;
}
select:hover, select:focus, select::selection {
  background: rgba(0, 0, 255, 0.062745098);
  outline: none;
  border: 0.1rem solid var(--text-color-primary);
  color: rgba(35, 35, 46, 0.8156862745);
}
select option {
  background: #45f3ff;
  color: #f969c1;
  font-size: 1.6rem;
  font-weight: 600;
  border: none;
  color: #535368;
  text-decoration-color: #00ff4c;
}

.disabled,
.disabled:hover {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.3568627451) !important;
  background: rgba(0, 0, 0, 0.062745098) !important;
  border-color: rgba(0, 0, 0, 0.2196078431) !important;
}

.summary-card {
  grid-column: 2/3;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  padding: 3rem 2rem;
  margin: auto;
  margin-top: 4rem;
  width: 90%;
  height: 80%;
  border-radius: 10px;
  max-width: 34vw;
  min-width: 30vw;
}
.summary-card .summary-heading {
  font-size: 1.8rem;
  color: #f969c1;
  font-weight: 600;
  padding-bottom: 3rem;
  text-align: center;
}
.summary-card .summary-ticket {
  list-style: none;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 0.2fr 0.6fr 0.1fr 1fr 0.2fr 0.6fr 0.1fr 1fr;
  gap: 1rem;
  align-content: stretch;
  align-items: center;
  justify-items: start;
  height: 100%;
  width: 100%;
}
.summary-card .summary-ticket .summary-tat-heading, .summary-card .summary-ticket .summary-ticket-heading {
  grid-column: 1/5;
  justify-self: center;
  font-size: 1.4rem;
  font-weight: 600;
}
.summary-card .summary-ticket .summary-ticket-image {
  height: 2rem;
  grid-column: 1/2;
}
.summary-card .summary-ticket .summary-ticket-label {
  grid-column: 2/3;
}
.summary-card .summary-ticket .summary-ticket-colon {
  grid-column: 3/4;
}
.summary-card .summary-ticket .summary-ticket-detail {
  grid-column: 4/5;
}
.summary-card .summary-ticket .summary-tat-heading {
  grid-column: 5/9;
  grid-row: 1/2;
}
.summary-card .summary-ticket .summary-tat-image {
  height: 2rem;
  grid-column: 5/6;
}
.summary-card .summary-ticket .summary-tat-label {
  grid-column: 6/7;
}
.summary-card .summary-ticket .summary-tat-colon {
  grid-column: 7/8;
}
.summary-card .summary-ticket .summary-tat-detail {
  grid-column: 8/9;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  font-weight: 400;
}

.add_qty_assest-container {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 3rem;
}

.new-incident-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 100%;
}

.create_assest-container {
  grid-column: 1/-1;
  margin: auto;
}

.create_assest-form {
  margin: auto;
  min-width: 50rem;
  grid-column: 1/2;
  width: 20vw;
  height: 100%;
}

.requester-input-description {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.submit-button {
  margin: auto;
  margin-top: 3rem;
  height: 15%;
  width: 50%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.submit-button .btn--add {
  padding-top: 0.5rem;
  font-size: 2rem;
}
.submit-button .submit-logo {
  color: #ECFCFF;
  font-size: 3.6rem;
}

.btn--create-asset {
  height: 5%;
}

.select {
  border-color: #45f3ff;
}
.select:hover,
.select :focus,
.select ::selection {
  border-color: #f969c1;
}

.create_assest-form li header {
  color: #f969c1;
}

.asset_user_form {
  margin: auto;
  min-width: 50rem;
  grid-column: 2/3;
  min-width: 95%;
  max-width: 95%;
  height: 100%;
}

.search-box {
  padding: 1rem 0rem;
}
.search-box .magnify-btn {
  z-index: 2;
  position: absolute;
  margin-right: auto;
}
.search-box .enter-btn {
  z-index: 2;
  position: absolute;
  display: flex;
  justify-self: end;
}

.asset_incident-form {
  margin: auto;
  min-width: 50rem;
  grid-column: 3/4;
  min-width: 95%;
  max-width: 95%;
  height: 100%;
}

/*# sourceMappingURL=new_assets.css.map */
